html, body {
    height: 100vh;
    background-color: rgb(64, 84, 186);
  font-family: monospace;
  font-size: 20px;
  }
  
  #forma{
	
    margin: 30px auto;
    background-color: white;
    border: none;
    width: 700px;
    border-radius: 7px;
  }
  #form1{
    padding: 2vw;
    padding-bottom: 0;
    width: 700px;
  }

  .form-control {
    width: 300px;
  }

  .form-group{
    padding-bottom: 10px;
  }
  #btnend{
    margin-top: 30px;
    position: relative;
    bottom:0;
  }
  #closebutton{
  float: right;
  }
  a:link {
  text-decoration: none;
  }
  .error {
  border: 2px solid rgb(224, 74, 74);
}
#messages{
	width: 700px;
  margin: 20px auto;
  margin: 30px auto;
  background-color: white;
  border: none;
  width: 700px;
  border-radius: 7px;
}
