body {
  background-color: rgb(64, 84, 186);
}

#form {
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
}

h4 {
  margin-top: 30px;
  text-align: center;
  font-size: 35px;
  color:rgb(255, 255, 255)
}

#error {
  color:#dc3545;
}

#success {
  color: #198754;
}

.btn {
  background-color: #47860d;
  border:none;
  cursor:pointer;
  color:white;
  width: 130px;
}

.btn:hover {
  background-color: #346309;
  color:white;
}

.out {
  background-color: #c2c2c2;
  border-radius: 5px;
  border:none;
  margin-top: 5px;
  color:black;
  cursor:pointer;
}
